@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dog-card-image {
  max-width: 100%; 
  height: auto; 
  max-height: 200px;
  object-fit: cover; 
}

.navbar-container {
  padding: 0 !important;
}

.homepage-container {
  padding: 0;
}

.navbar-links {
  padding-left: 0 !important;
  font-size: 20px !important;
}

.dog-finder-title {
  font: bold 20px;
}